<section class="cover " id="Home ">


    <div class="makeflex ">
        <!-- important -->
        <div class="card3 1 ">

            <h6>Hi There,</h6>
            <h2>
                <a href=" " class="typewrite " data-period="2000 " data-type='[ "I am Creative. ", "I Love Design. ", "I Love to Develop. " ]'>
                    <span class="wrap "></span>
                </a>
            </h2>
        </div>

        <!-- end important -->
        <div class="card3 1 ">
            <div class="card_image2 "> <img src="img/bg/undraw_devices_re_dxae.svg " /> </div>
            <div class="card_title title-white ">
                <div class="name ">
                    Enas
                </div>
            </div>
        </div>



    </div>
</section>





<section class="aboutme ">

    <img src="img/bg/wave.svg " />
    <!--my-info-->
    <div class="banner " id="aboutme ">
        <div class="work-title ">
            <h2>About <span>Me</span></h2>
        </div>
        <div class="item ">
            <p class=" ">I'm Enas Hameed Yahya Al Qa'adi .</p>
            <p class=" "> FULL STACK "Web design & programmer ".

                <p>I am passionate about my work. Because I love what I do .I am ambitious and driven. I thrive on challenge and constantly set goals for myself, so I have something to strive toward.



                </p>
        </div>



    </div>
    <div class="social_header ">
        <a href="https://www.facebook.com/enas.alqaadi "> <i class="fa fa-facebook-f ">    Enas Alqaadi</i></a>
        <a href="https://www.instagram.com/enasalqaadi/ "> <i class="fa fa-instagram "> enasalqaadi </i> </a>
        <a href="https://github.com/EnasHameedQ "> <i class="fa fa-github "> 
EnasHameedQ ايناس حميد القعادي</i></a>


        <a href="assets/myCv.pdf " class="btn-custom " download><span><i class="fa fa-download ">  My CV </i></span></a>
    </div>

    </div>
</section>