<section class="contuct " id="contuctme ">


    <div class=" work-title ">
        <h2>Contact <span>me</span></h2>

    </div>

    <div class="form ">
        <div class="work-title " id="ser ">
            <h2>Keep us<span> in touch</span> 😄</h2>

        </div>
        <form action="# " method="post ">
            <div class="form-group ">
                <label for="contact-name ">Name</label>
                <input type="text " class="form-control " id="contact-name " name="name " placeholder="Enter your name.. " onkeyup='validateName()'>
                <span class='error-message' id='name-error'></span>
            </div>
            <br><br>
            <div class="form-group ">
                <label for="contact-age ">Age</label>
                <input type="datetime-local " lass=" form-control " id="contact-age " name="age " placeholder="Enter your age.. " onkeyup='validateAge()'>
                <span class='error-message' id='age-error'></span>
            </div>
            <br><br>
            <div class="form-group ">
                <label for="contact-phone ">Phone Number</label>
                <input type="tel " class="form-control " id="contact-phone " name="phone " placeholder="Ex: 77345778 " value=777 onkeyup=' validatePhone() '>
                <span class='error-message ' id='phone-error '></span>
            </div>
            <br><br>
            <div class=" form-group ">
                <label for="contact-email ">Email address</label>
                <input type="text " class="form-control " id="contact-email " name="email " placeholder="Enter Email " onkeyup='validateEmail() '>
                <span class='error-message ' id='email-error '></span>
            </div>
            <br><br>
            <div class="form-group ">
                <label for='contactMessage '>Your Message</label>
                <textarea class="form-control " rows="5 " id='contact-message ' name='message ' placeholder="Enter a brief message " onkeyup='validateMessage() '></textarea>
                <span class='error-message ' id='message-error '></span>
            </div>
            <br> <br>
            <button onclick='return validateForm() ' class="btn btn-default ">Submit</button>
            <span class='error-message ' id='submit-error '></span>
        </form>
    </div>
    <div class="con ">
        <div class="cont ">
            <a href=" alqaadienas@gmail.com "> <i class="material-icons ">mail_outline </i> alqaadienas@gmail.com
            </a>
        </div>
        <div class="cont ">

            <a href="# "><i class="material-icons ">call</i> +967 772650028</a>
        </div>
    </div>

    <!-- <div class="move_img "><img src="img/bg/undraw_web_devices_re_m8sc.svg " id='i1'>
                            <br><br><br><br>
                            <input type=button onClick=timer() value='Start'>
                            <input type=button onClick=reset1() value='Reset'>
                            <div id='msg'></div>
                        </div> -->
</section>