<section class="edEx ">

    <div class="Exp ">
        <!--Timeline-->
        <h5 class=" ">My Expericence</h5>
        <div class="timeline ">

            <!--item 1-->
            <div class="item ">
                <div class="content ">
                    <h6 class=" "> web developer
                        <span class=" "> - </span>TechnoHealth</h6>
                    <small class="sub ">2021</small>
                    <p class=" ">I made afullstack website for Midical jornals</p>
                </div>
            </div>

            <!--item 2-->
            <div class="item ">
                <div class="content ">
                    <h6 class=" ">freeluncer web front_end
                        <span class=" "> - </span> Google </h6>
                    <small class=" sub ">2020</small>
                    <p class=" ">I have designed web interfaces for Nerdo-ye company . </p>
                </div>
            </div>
            <!--item 3-->
            <div class="item ">
                <div class="content ">
                    <h6 class=" "> ICDL Teacher
                        <span class=" "> - </span> AL_Raied institute</h6>
                    <small class="sub ">2019</small>
                    <p class=" "> Taught Word Office program at AL_Raied institute </p>
                </div>
            </div>
        </div>
    </div>
    <div class="Edu ">
        <h5 class=" ">My Education</h5>
        <div class="timeline ">
            <!--item 1-->
            <div class="item ">
                <div class="content ">
                    <h6 class=" "> Trainee
                        <span class=" "> - </span> Rowad Coding Academy</h6>
                    <small class=" sub ">2022</small>
                    <p class=" ">Trainee at Rowad's Programming Academy Camp
                    </p>
                </div>
            </div>
            <!--item 2-->
            <div class="item ">
                <div class="content ">
                    <h6>Flutter
                        <span class=" "> - </span> Godiv Academy </h6>
                    <small class="sub ">2020</small>
                    <p class=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium aut repellendus rem non repudiandae sint dolor illo officia dignissimos.</p>
                </div>
            </div>

            <!--item 3-->
            <div class="item ">
                <div class="content ">
                    <h6 class=" ">Bachlor Degree
                        <span class=" "> - </span> Sana'a University</h6>
                    <small class="sub ">2017 - 2018</small>
                    <p class=" ">Bachelor of Information Technology - Sana'a University - Computer College - "FCIT " </p>
                </div>
            </div>
        </div>
    </div>

</section>