<footer>
    <div class="copy-right ">
        <p>
            Copyright <i class="fa fa-copyright " aria-hidden="true "></i>2022.All Rghits Resorved to EnasHQ.
        </p>
    </div>
    <div class="social ">
        <a href="https://www.facebook.com/enas.alqaadi "> <i class="fa fa-facebook-f "> </i></a>
        <a href="https://www.instagram.com/enasalqaadi/ "> <i class="fa fa-instagram "></i> </a>
        <a href="https://github.com/EnasHameedQ "> <i class="fa fa-github "> </i></a>
    </div>
</footer>