<header>
    <!-- nav -->
    <nav class="topnav" id="myTopnav">

        <a href="#home" class="active"> EnasHameedQ</a>
        <a href="#home">Home</a>
        <a href="#aboutme">About Me</a>
        <a href="#myworks">My Works</a>
        <a href="#myservices">My Services</a>
        <a href="#contuctme">Contuct Me</a>

        <a href="javascript:void(0); " class="icon " onclick="myFunction() ">
            <i class="fa fa-bars "></i>
        </a>
        <!-- start darkmode -->
        <div class="toggle">
            <input id="switch" type="checkbox" name="theme">
            <label for="switch">Toggle</label>
        </div>
        <!-- end darkmode -->
    </nav>
    <!-- end nav -->
</header>