<section class="service " id="myservices">


    <div class=" work-title ">
        <h2>My <span>Services</span></h2>

    </div>
    <div class="cardss ">
        <div class="card1 ">
            <i class="fa fa-github "></i>
            <h4>Web Development</h4>
            <h3>40 website </h3>
        </div>

        <!-- End Col -->

        <div class="card1 ">
            <i class="fa fa-codepen "></i>
            <h4>Web Design</h4>
            <h3>40 web design </h3>
        </div>

        <!-- End Col -->

        <div class="card1 ">
            <i class="fa fa-apple "></i>
            <h4>App Developing</h4>
            <h3>40 apps </h3>
        </div>

        <!-- End Col -->

        <div class="card1 ">
            <i class="fa fa-search-plus "></i>
            <h4>SEO Expart</h4>
            <h3>4 years </h3>
        </div>

        <!-- End Col -->
    </div>
</section>