<!-- Start works section -->
<section class="works " id="myworks ">
    <div class="work-title ">
        <h2>My <span>Works</span></h2>
    </div>
    <div class="works-content ">
        <div class="flip-card ">
            <div class="flip-card-inner ">
                <div class="flip-card-front ">
                    <h5> Responcive web page </h5>

                    <img src="img/work/2.PNG " alt="Avatar ">
                </div>
                <div class="flip-card-back ">

                    <p> Responcive web page using html & css only as a practice </p>


                </div>
            </div>
        </div>

        <div class="flip-card ">
            <div class="flip-card-inner ">
                <div class="flip-card-front ">
                    <h5>Murabaat website </h5>
                    <img src="img/work/1.PNG " alt="Avatar ">
                </div>
                <div class="flip-card-back ">

                    <p> Murabaat : is a education website(منصة) ,foloow Nerdo company ,I work for them as a front-end web developer. this site using html , css & bootstrap . </p>
                </div>
            </div>
        </div>

        <div class="flip-card ">
            <div class="flip-card-inner ">
                <div class="flip-card-front ">
                    <h5> Flexbox Properties </h5>
                    <img src="img/bg/undraw_devices_re_dxae.svg " alt="Avatar ">
                </div>
                <div class="flip-card-back ">

                    <p> display: flex;<br> flex-direction:
                        </br>
                        justify-content:</br>
                        align-items:</br>
                        align-content:</br>
                        order:num + or -;</br>
                        flex-wrap:nowrap,wrap,wrap-reverse;</br>
                        flexflow:flex-direction+ flex-wrap ;</br>
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- End works section -->