        * {
            color: #edf7f9;
            /* color is increas  */
        }
        
        .cover {
            background-color: #607d8b;
        }
        
        .name {
            font-family: cursive;
            color: #133339;
        }
        
        section.aboutme {
            background-color: #133339;
        }
        
        .aboutme img {
            background-color: #133339;
        }
        
        .works {
            background-color: #607d8b;
        }
        
        .flip-card {
            border: 1px solid #677b8f;
        }
        
        .flip-card-front {
            background-color: #7c8da5;
        }
        
        .flip-card-back {
            background-color: var(--secondery-color, #133339);
            color: var( --forth);
            transform: rotateY( 180deg);
        }
        
        section.service {
            background-color: #7c8da5;
        }
        
        .card1 {
            background-color: #607d8b;
            padding: 10px 25px;
            margin: 30px 10px;
        }
        
        .edEx {
            background-color: #607d8a;
        }
        
        .Exp,
        .Edu {
            background-color: #016d77;
        }
        
        .material-icons,
        .fa,
        .copy-right>p,
        .copy-right i {
            color: #edf7f9;
        }